<img src="fond_header.jpg" alt="banner" class="img-fluid" />

    <!-- MENU ENTETE -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-faded">
    <!-- Brand -->
<a class="navbar-brand" href="#"><img src="logo-blanc.png" alt="logo" id="logo" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>



<!-- Links -->
<div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent"> 

<a class="nav-link nav-item" href="#">Accueil</a>
<a class="nav-link nav-item" href="#">Le Chef</a>
<a class="nav-link nav-item" href="#">Menus</a>
<a class="nav-link nav-item" href="#">Réservation</a>
<a class="nav-link nav-item" href="#">Contact</a>
</div>
</nav>




   
   

<!-- 
<ul class="navbar-nav nav-fill">
<li class="nav-item">
<a class="nav-link" href="#">Accueil</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Le Chef</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Menus</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Réservation</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Contact</a>
</li>
</ul>
-->







<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

